* {
  margin: 0 auto;
  scroll-behavior: smooth;
}

:root {
  --main-color: rgb(79, 79, 79);
  --accent-color: rgb(225, 144, 255);
}

a {
  width: 100%;
  text-decoration: none;
}

body {
  background-color: #faf9f6;
  color: var(--main-color);
  font-family: 'Manrope', sans-serif;
  max-width: 1200px;
}

.container {
  padding: 0px 200px;
}

header {
  display: flex;
  align-items: center;
  padding: 50px 0px;
}

#header-name {
  font-size: larger;
}

nav a {
  margin: 10px;
  font-weight: 900;
  font-size: medium;
  color: var(--main-color);
  text-decoration: none;
}

nav a:hover {
  color: var(--accent-color);
}

.work-section {
  margin: 100px 0px 250px 0px;
}

.work-section h2 {
  margin-bottom: 10px;
}

.hero-banner {
  display: flex;
  align-items: center;
}

#hero-title {
  font-size: 35px;
  font-weight: 900;
}

#hero-UID {
  background: linear-gradient(30deg, rgb(201, 135, 255) 0%, rgb(199, 103, 255) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#about-wrapper {
  margin-right: 250px;
}

.work-section {
  display: grid;
  gap: 10px;
  height: 100vh;
  grid-template-rows: 300px 300px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "spotify spotify"
  "pointer shyft"
  "shipbob dropbox";
}

.work-section article {
  width: 100%;
}

.work-section h3 {
  color: white;
}

#spotify {
  grid-area: spotify;
  background-image: url(/images/spotify.jpeg);
  background-size: cover;
}

#pointer {
  grid-area: pointer;
  background-image: url(/images/pointer.jpeg);
  background-size: contain;
}

#shyft {
  grid-area: shyft;
  background-image: url(/images/shyft.jpeg);
  background-size: cover;
}

#shipbob {
  grid-area: shipbob;
  background-image: url(/images/shipbob.gif);
  background-size: cover;
}

#dropbox {
  grid-area: dropbox;
  background-image: url(/images/dropbox.jpeg);
  background-size: cover;
}

.inner-section {
  display: flex;
  align-items: center;
  width: 100%;
  height: 300px;
  background-color: rgba(59, 59, 59, 0.692);
  cursor: pointer;
}

.inner-section:hover {
  background-color: rgba(59, 59, 59, 0);
}
